.logo {
    text-align: center;
    padding-top: 64px;
}

h1.hola {
    color: #333;
    text-align: center;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}